@page
@model ElectricityBill_Prabhdeep.Pages.Bill.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bill.BillNo" class="control-label"></label>
                <input asp-for="Bill.BillNo" class="form-control" />
                <span asp-validation-for="Bill.BillNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.TotalBill" class="control-label"></label>
                <input asp-for="Bill.TotalBill" class="form-control" />
                <span asp-validation-for="Bill.TotalBill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.BillLastDate" class="control-label"></label>
                <input asp-for="Bill.BillLastDate" class="form-control" />
                <span asp-validation-for="Bill.BillLastDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
